@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

$rojo: #900;
$verde: #090;

.card img {
    border: 1px solid darken($rojo, 20%);

    &:hover {
        border: 3px solid aqua;
    }
}

.contacto {
    color: hsl(180, 90%, 50%);
}

h1, h2, h3, h4, h6 {
    background-color: #000;
    color: #ffff;
    font-family: 'ZCOOL KuaiLe', cursive;
}