@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

@mixin varios-parametros($weight, $spacing){
    font-weight: $weight;
    word-spacing: $spacing;    
}

.parrafo {
    @include varios-parametros(bold, 3px,)
}


@mixin condicion ($bg-color) {
    background-color: $bg-color;

    @if $bg-color==orange {
        border-radius: 4px;
    } @else {
        border-radius: 10px;
    }
}

.bg-condicion {
    @include condicion(orange)
}
