nav {
    background-color: #fff;
}

footer {
    background-color: #000000;
}

body {
    background-color: #fff;
}

.promocion {
    position: absolute;
    left: 3%;
    top: 20%;
    z-index: 3;
    width: 15%;
    border-radius: 50%;
}


    
